
<pb-menu></pb-menu>
<!-- <mat-progress-spinner mode="indeterminate" *ngIf="IsWait" [diameter]="200" class="spinner-wrapper"></mat-progress-spinner> -->
<main class="container center" id="main">
  <article class="text-box">
    <h1>Yearly Budget</h1>
    <canvas id="myBudgetChart" width="200" height="200" ></canvas>
  </article>

  <article class="text-box">
    <h1>Monthly expenses for one year</h1>
        <canvas id="myExpensesChart" width="200" height="200"></canvas>
  </article>

  <article class="text-box">
    <h1>Budget vs Expense for an year</h1>
        <canvas id="myBudgetVsExpensesChart" width="200" height="200"></canvas>
  </article>
</main>

