<div class="container">
  <h3 mat-dialog-title><Title></Title>{{data.title}} for the month {{data.month}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <br>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Budget" [(ngModel)]="data.budget" name="budget" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Expense" [(ngModel)]="data.expense" name="expense" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label> Month</mat-label>
        <select matNativeControl [(ngModel)]="selectedValue" name="month" required>
          <option value="" selected></option>
          <option *ngFor="let month of months" [value]="month.value">
            {{month.viewValue}}
          </option>
        </select>
      </mat-form-field>
    </div>


    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
